    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="card">
                    <div class="content">
                        <div class="row">
                            <div class="col-xs-5">
                                <div class="icon-big icon-warning text-center">
                                    <i class="ti-server"></i>
                                </div>
                            </div>
                            <div class="col-xs-7">
                                <div class="numbers">
                                    <p>Total Cadastrado</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
               
            </div>
            <div class="col-lg-3 col-sm-6">
                
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="card">
                    <div class="content">
                        <div class="row">
                            <div class="col-xs-5">
                                <div class="icon-big icon-info text-center">
                                    <i class="ti-alarm-clock"></i>
                                </div>
                            </div>
                            <div class="col-xs-7">
                                <div class="numbers">
                                    <p>Hora</p>
                                     {{ hora | date: 'HH:MM:ss' }}
                                </div>
                            </div>
                        </div>
                    
                    </div>
                </div>
            </div>
        </div>
       
        <div class="row">
            <div class="col-md-6">
                <div class="card guche">
                    
                    <div class="content">
                        <h4 class="title">Numero Atual</h4>
                        <div class="a">{{chamada.numero}}  </div>        
                        <hr /><hr />
                        <h4 class="title">Guiche</h4>
                        <div class="a"> {{chamada.guiche}} </div>        
                        
                        <div class="footer">
                           
                            <div class="stats">
                                <i class="ti-timer"></i> Chamado as: {{chamada.hora}} 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card  lista">
                    <div class="header">
                        <h4 class="title">Lista de chamadas</h4>
                        
                    </div>
                    <div class="content table-responsive table-full-width ">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th *ngFor="let cell of tabelaChamada.titulo">{{ cell }}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let row of tabelaChamada.conteudo">
                                        <td *ngFor="let cell of row">{{cell}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="footer">
                                <div class="stats">
                                    <i class="ti-timer"></i> total : 20 
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
